@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    box-sizing: border-box;
    /* height: 2000px; */
}
.header-container{
    /* border: 5px solid white; */
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 70px; 
    transition: top 1s, opacity 1s; 
       background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.invisible{
opacity: 0;
pointer-events: none;
}
#logo{
    max-width: 200px;
    max-height: 200px;
    margin-left: 100px;
}

.navBar-container>ul{
    display: flex;
    gap: 10px;
    margin-right: 100px;
    list-style-type: none;

    /* border: 5px solid white; */
}

.navBar-container a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}
.sign-up-button{
    border: 1px none #ff4200;
    background-image: linear-gradient(90deg , #ff4200 , #fa0);
    text-align: center;
    margin-left: 4rem;
    border-radius: 0.8rem;
    padding:0.8rem 4rem 0.8rem 4rem;
    
}
.social{
    display: flex;
    gap: 10px;
}
.social img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#menu{
    width: 50px;
    height: 50px;
    display: none;

}
#with-video-back {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    height: 500px;
    transition: top 1s, opacity 1s;
    /* position:relative; */
    height: 90vh;

    

    
}
#with-video-back video {
    min-width: 100%;
    min-height: 100vh;
    /* width: auto;
    height: auto; */
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

    
}
.heading-above-video{
    z-index: 1;
    -webkit-text-fill-color:transparent;
    background-image:linear-gradient(90deg,#ff4200,#f9cb28);
    -webkit-background-clip:text;
    background-clip:text;
    position: absolute;
    font-family: Clashdisplay,sans-serif;
    font-size: 50px;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
    animation: colorChange 3s infinite alternate linear;
 

}

/* set up animation for the h1 */
@keyframes colorChange {
    0% { background-image: linear-gradient(90deg,#ff4200,#fcfcfb); 
         opacity: 1;
    }
    50% { background-image: linear-gradient(90deg,#f4f3f0,#ff4200); }
    100% { background-image: linear-gradient(90deg,#ff4200,#eeede6);
      opacity: 0.4;
     }
  }
.p-above-video{
    z-index: 1;
    position: absolute;
    margin-left: 100px;
    top: 62%;
    font-size: 30px;
    font-weight: bolder;
    color: azure;
    background-color: rgba(52, 51, 51, 0.3);
    padding: 1rem;
    border-radius: 0.9rem;



}
.hero-section{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.hero-section h1{
   z-index: 1;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    transform: translateX(-100%);
    transition: 1s;
}
.hero-section.show-element h1{
    transform: translateX(0);
}
.grid-container{
    width: 100%;
    display: grid;
    grid-template-rows: 50vh 50vh;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: 
    'area1 text area5'
    'area2 area3 area4';
    position: absolute;
    top: 0;
    background-image: url(/ressources/space-background.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover ;
}
.grid-container .presentation-text{
    color: white;
    grid-area: text;
    align-self:center;
    /* border: 5px white solid; */
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 1rem;
    font-size:large;
    font-weight: 700;
    background-color: rgba(73, 72, 72, 0.5);
    opacity: 0;
    transform: translateY(100%);
    transition: 2s;

}
.hero-section.show-element .grid-container .presentation-text{
    opacity: 1;
    transform: translateY(0);

}

.presentation-text p:last-child img{
    height: 20px;
    width: 20px;
}
.grid-container .information-cards{
    background-color: rgba(81, 78, 78, 0.7);
    margin: 20px; 
    padding: 10px;
    border: 2px solid #ccc; 
    border-radius: 8px; 
    transition: border-color 0.3s, transform 0.3s ;
    transform: translateX(100%);
    opacity: 0;
    transition: 1.5s;


}
.hero-section.show-element .grid-container .information-cards{
    transform: translateX(0);
    opacity: 1;
}

.grid-container .information-cards h3 {
       color: #ff4200;
       font-size: 30px;
    }
.grid-container .information-cards p {
    color: #e0dedd;
    font-weight: bold;
}
.grid-container .information-cards img{
    display: block; 
    width: 100%; 
    height: 350px; 
  
}
.grid-container .information-cards:hover {
    border-color: #ff7f50; 
    transform: scale(1.05); 
}




.grid-container .information-cards:nth-child(2){
    grid-area: area1;
    align-self: center;
}
.grid-container .information-cards:nth-child(3){
    grid-area: area2;
    align-self: center;
}
.grid-container .information-cards:nth-child(4){
    /* grid-area: area3; */
    /* border: 5px solid white; */
    background: none;
    padding: 0px;
    overflow: hidden; 

   

}
.grid-container .information-cards:nth-child(5){
    grid-area: area4;
    align-self: center;
}
.grid-container .information-cards:nth-child(6){
    grid-area: area5;
    align-self: center;
}
#times-letter{
    position: absolute;
    font-size: smaller;
    bottom: 30%;
    color: #ff4200;
}
.courses-section{
    position: relative;
    height: 100vh;
    background-image: url(/ressources/space-background2.png);
    background-size: cover;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: 3s;
}
.courses-section.show-element{
  transform: translateX(0);
  opacity: 1;
}
.courses-section h1{
    position: absolute;
    color: #ff4200;
    top: 10%;
}
.courses-section-grid{
  
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    'picture text'
}
.courses-section-grid img{
    grid-area: picture;
    display: block; 
    width: 100%; 
    margin-top: 150px;
    margin-left: 20px;
    border: 2px solid #ccc; 
    border-radius: 8px; 
}
.courses-section-grid div{
    grid-area: text;
    font-size: 1.5rem;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #f4f3f0;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.9;
}
    .courses-section-grid div button{
    border: 1px none #ff4200;
    background-image: linear-gradient(90deg , #ff4200 , #fa0);
    text-align: center;
    margin-left: 4rem;
    border-radius: 0.8rem;
    padding:0.8rem 4rem 0.8rem 4rem;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    width: 50%;
    align-self: center;
    cursor: pointer;
}
div.course p i{
    color: #f9cb28;
}
.ark-jobintech{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     gap: 20px;
     opacity: 0;
     transition: 3s ease-in-out;
}
.ark-jobintech.show-element {
    opacity: 1;
}
.ark-jobintech h1{
   color: #fcfcfb;
   font-size: 50px;
}
.ark-jobintech p{
    text-align: center;
    font-size: 1.5rem;
    color: #f4f3f0;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.9;
    width: 75%;

}
.courses-section-grid div h3{
    color: #f97f28;
}
.ark-jobintech button{
    border: 1px none #edeceb;
    background-image: linear-gradient(90deg , #638c1c , rgb(90, 219, 26));
    text-align: center;
    margin-left: 4rem;
    border-radius: 0.8rem;
    padding:0.8rem 4rem 0.8rem 4rem;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    width: 25%;
    align-self: center;
    cursor: pointer;
}
div.ark-jobintech p i{
    color: #638c1c;
    opacity: 0.9;
}
.ark-jobintech img{
    padding-bottom:50px;
}
#rocket-gif{
    position: absolute;
    border: none;
    height: 50px;
    width: 50px;
    left: 50%;
     bottom: 0; 
     transition: top 1s, opacity 1s; 

}

/* responsivness: */
@media only screen and (max-width: 1100px){


    .navBar-container>ul{
        width:100%;
        background: linear-gradient(90deg , #ff4200 , #fa0);
        position: absolute;
        top: 75px;
        left: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .navBar-container ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #menu{
        display: block;
        margin: 10px;
        cursor: pointer;
    }
    #list-menu{
        display: none;
        overflow: hidden;
        transition: 0.5s;
    }
}